
form {
  border-radius: .3em;
  max-width: 40em;
  padding: .9em;
  text-align: center;
}

input {
  border-radius: .3em;
  border: 1px solid rgba(123, 123, 123, .3);
  color: #4a87d3;
  display: block;
  font-size: 1.2em;
  margin: .3em auto;
  padding: .9em;
  width: 90%;
}


