.nav {
  margin-left: 1em;
  display: inline;
}

.nav .link {
  padding: .5em 1.3em;
  display: inline-block;
}

.nav .link:hover {
  background: red;
}

.dropdown-container {
  position: relative;
  display: inline-block;
}

.dropdown-trigger {
  position: relative;
  z-index: 3;
}

.dropdown {
  background: whitesmoke;
  border-radius: 0 0 .4em .4em;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
}

.dropdown:hover {
  visibility: visible;
  top: 100%;
  opacity: 1;
}

.dropdown .link {
  border-top: 1px solid white;
  border-bottom: 1px solid #f3f3f3;
}

.dropdown .link:first-of-type { border-top: none; }
.dropdown .link:last-of-type { border-bottom: none; }

.dropdown-trigger:hover + .dropdown {
  visibility: visible;
  top: 100%;
  transition: all ease-out 0.3s;
  opacity: 1;
}

