@import url('resets.css');
@import url('grid.css');
@import url('nav.css');
@import url('forms.css');
@import url('buttons.css');
@import url('handhelds.css');


/* =General: */

body {
  background: #333;
  font-family: sans-serif;
}

.login { text-align: center; }

form.login { margin: 3em auto; }

.success {
  background: #6bd4c8;
  color: white;
}

header { background: whitesmoke; }

.logo { margin-left: 1em; }

