    h1, h2 {
      color:red;
      font-size: 16px;
      text-align: center;
    }
    .objetivo {
      color: grey;
      font-style: italic;
      text-align: center;
    }
    p {
      color: darkgrey;
      text-justify: auto;
    } 
    .ejercicio {
      font-weight: bold; 
      color: black;
    }
 
